body {
  margin: 0 auto 0;
  max-width: 1440px;
}
.wrapper {
  overflow-x: hidden;
}

/* header */

header{
  display: flex;
  justify-content: space-between;
  padding: 0 109px 0;
  background: #EDF2EC;
 
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
}

