/* ---------------------------------------------------1920 */
@media (min-width: 1921px) {
  body {
    margin: auto;
    width: 1920px;
    min-height: 1080px;
    max-height: 1080px;
}
  .wrapper {
    min-height: 1060px;
  }
  .main-image {
    height: 1060px;
  }
  .main-image img {
    height: 1060px;
  }
  /* зміна класу при zoom */
  .main-image-zoom {
    height: 1404px;
  }
  .img-zoom {
    max-height: 1404px;
  }
/* ------ main end ------- */

/* ------ management-blok ------- */
  .management-blok {
    height: 1060px;
  }
}

/* ---------------------------------------------------1200 */
@media (max-width: 1200px) {

/* ------ management-blok ------- */
.management-blok {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  transform: translateX(-235px);
 
  width: 235px;
  transition: 0.5s;
  z-index: 100;
}
.list-icon {
  display: block;
}
/* transform: translateX(0); */
/* ------ main ------- */
main {
  width: 100%;
}

  /*---------------- welcome-------------------- */
 
  /*-- welcome end--- */


}