/* --- 0000000000000000 ---- */
* {
  margin:0;
  padding:0;
  border: 0;
  box-sizing: border-box;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
/* --- 0000000000000000 end---- */

/* --- fonts ---- */
@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Regular.ttf') format('ttf'), url('../fonts/MontserratAlternates-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Montserrat Alternates';
    src: url('../fonts/MontserratAlternates-Medium.ttf') format('ttf'), url('../fonts/MontserratAlternates-Medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
}
/* --- fonts end---- */

body	{
  padding: 10px;
  min-height: 100vh;
  position: relative;
  font-size: 14px;
  line-height: 120%;
  font-family: 'Montserrat Alternates', sans-serif;
}
.wrapper {
  position: relative;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  min-height: calc(100vh - 20px);
  border: 2px solid #000000;
  background-color: #f4f9a9;

}
.home-icon {
  position: absolute;
  top: 5px;
  right: 20px;
  width: 30px;
}
.information-blok, .buttons-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px 0;
  width: 100%;
}
.text-blok {
  padding-left: 5px;
  margin-bottom: 15px;
  width: 100%;
  height: 30px;
  background-color: #ffffff;
  box-shadow: -7px 7px 5px rgba(0, 0, 0, 0.15);
}
.text-blok:active {
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.15);
}
.drop-menu {
  position: absolute;
  left: 110px;
  padding-top: 10px;
  z-index: 1;
  line-height: 140%;
  background-color: #ffffff;
  box-shadow: -9px 9px 6px rgba(0, 0, 0, 0.15);
}
.drop-menu>li {
  padding: 0 10px 0;
  min-width: 130px;
  min-height: 25px;
  border-bottom: 1px solid #cccccc;
}
/* ------ main ------- */
main {
  display: flex;
  flex-grow: 1;
  justify-content: center;
}
.main-image {
  height: calc(100vh - 24px);
}
.main-image img {
  width: auto;
  height: calc(100vh - 24px);
}
/* ------ main end ------- */

/* ------ management-blok ------- */
.management-blok {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
}

/* ------ information-blok ------- */
.title-image {
  width: 130px;
}
img {
  width: 100%;
}
h1, h2	{
  font-size: 14px;
}
h1 {
  color: #960014;
  margin: 5px 0 25px;
}
h2 {
  margin-bottom: 15px;
}
.page-block, .chapter-block {
  position: relative;
  display: flex;
  align-items: center;
  width: 110px;
}
.page-block, .chapter-block:hover {
  cursor: pointer;
}
.chapter-menu {
  display: none;
}
.page-menu {
  display: none;
}
/* ------ information-blok end------- */

/* ------ buttons-blok ------- */
.buttons-blok {
  margin-top: 60px;
}
.buttons-blok span {
  font-weight: bold;
}
.scale-buttons button {
  margin-left: 5px;
  width: 50px;
  font-size: 18px;
}
.step-buttons button {
  margin-left: 5px;
  width: 70px;
  font-size: 18px;
}
.like-button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  padding: 0;
  width: 90px;
}
.like-image {
  display: inline-block;
  width: 30px;
}
